In [21]:
from sqlalchemy import create_engine
import pandas as pd
# Define the connection string
# Replace 'your_username', 'your_password', 'your_host', 'your_port', and 'your_database_name' with your actual PostgreSQL credentials
connection_string = 'postgresql://postgres:postgres@localhost:5432/Heart_db'
# Create the engine
engine = create_engine(connection_string)
# Example: execute a SQL query and fetch data into a pandas DataFrame
query = "SELECT * FROM heart_disease_health_indicators;"
indicators_df = pd.read_sql_query(query, engine)
# Display the DataFrame
indicators_df

,heartdiseaseorattack,highbp,highchol,cholcheck,bmi,smoker,stroke,diabetes,physactivity,fruits,veggies,hvyalcoholconsump,anyhealthcare,nodocbccost,genhlth,menthlth,physhlth,diffwalk,sex,age,education,income
0,0,1,1,1,40,1,0,0,0,0,1,0,1,0,5,18,15,1,0,9,4,3
1,0,0,0,0,25,1,0,0,1,0,0,0,0,1,3,0,0,0,0,7,6,1
2,0,1,1,1,28,0,0,0,0,1,0,0,1,1,5,30,30,1,0,9,4,8
3,0,1,0,1,27,0,0,0,1,1,1,0,1,0,2,0,0,0,0,11,3,6
4,0,1,1,1,24,0,0,0,1,1,1,0,1,0,2,3,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253656,0,0,0,1,25,0,0,0,1,1,1,1,1,0,1,0,0,0,0,4,6,8
253657,0,0,1,1,24,0,0,0,0,0,1,0,1,0,3,0,0,0,0,7,5,3
253658,0,0,0,0,27,0,0,0,1,0,0,0,1,1,2,0,0,0,0,3,6,5
253659,0,0,1,1,37,0,0,2,0,0,1,0,1,0,4,0,0,0,0,6,4,1
253660,0,0,1,1,34,1,0,0,0,1,1,0,1,0,3,0,2,1,0,7,4,3

In [10]:
query = "SELECT * FROM heart_data;"
heart_df = pd.read_sql_query(query, engine)
heart_df

,age,sex,chestpain,restbp,chol,fbs,restecg,maxhr,exang,oldpeak,slope,ca,thal,target
0,63,1,typical,145,233,1,2,150,0,2.3,3,0,fixed,0
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3,normal,1
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2,reversable,1
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0,normal,0
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0,reversable,1
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2,reversable,1
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1,reversable,1
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1,normal,1
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,2,normal,0

In [22]:
#import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [23]:
indicators_df.isnull().sum()

heartdiseaseorattack    0
highbp                  0
highchol                0
cholcheck               0
bmi                     0
smoker                  0
stroke                  0
diabetes                0
physactivity            0
fruits                  0
veggies                 0
hvyalcoholconsump       0
anyhealthcare           0
nodocbccost             0
genhlth                 0
menthlth                0
physhlth                0
diffwalk                0
sex                     0
age                     0
education               0
income                  0
dtype: int64

In [24]:
indicators_df.describe()

,heartdiseaseorattack,highbp,highchol,cholcheck,bmi,smoker,stroke,diabetes,physactivity,fruits,veggies,hvyalcoholconsump,anyhealthcare,nodocbccost,genhlth,menthlth,physhlth,diffwalk,sex,age,education,income
count,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000,253661.000000
mean,0.094173,0.428990,0.424113,0.962667,28.382475,0.443186,0.040570,0.296904,0.756577,0.634264,0.811437,0.056201,0.951049,0.084164,2.511379,3.184778,4.242028,0.168221,0.440348,8.032197,5.050461,6.054052
std,0.292070,0.494933,0.494209,0.189578,6.608638,0.496763,0.197292,0.698147,0.429149,0.481637,0.391162,0.230310,0.215766,0.277633,1.068472,7.412822,8.717905,0.374063,0.496430,3.054203,0.985718,2.071036
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
25%,0.000000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000
50%,0.000000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000
75%,0.000000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,3.000000,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000
max,1.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000

In [30]:
# Split the data into X (features) and y (target)
# The y variable should focus on the target column
y = indicators_df['heartdiseaseorattack']

# The X variable should include all features except the target
X = indicators_df.drop(columns=['heartdiseaseorattack'])

In [31]:
y

0         0
1         0
2         0
3         0
4         0
         ..
253656    0
253657    0
253658    0
253659    0
253660    0
Name: heartdiseaseorattack, Length: 253661, dtype: int64

In [32]:
X

,highbp,highchol,cholcheck,bmi,smoker,stroke,diabetes,physactivity,fruits,veggies,hvyalcoholconsump,anyhealthcare,nodocbccost,genhlth,menthlth,physhlth,diffwalk,sex,age,education,income
0,1,1,1,40,1,0,0,0,0,1,0,1,0,5,18,15,1,0,9,4,3
1,0,0,0,25,1,0,0,1,0,0,0,0,1,3,0,0,0,0,7,6,1
2,1,1,1,28,0,0,0,0,1,0,0,1,1,5,30,30,1,0,9,4,8
3,1,0,1,27,0,0,0,1,1,1,0,1,0,2,0,0,0,0,11,3,6
4,1,1,1,24,0,0,0,1,1,1,0,1,0,2,3,0,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253656,0,0,1,25,0,0,0,1,1,1,1,1,0,1,0,0,0,0,4,6,8
253657,0,1,1,24,0,0,0,0,0,1,0,1,0,3,0,0,0,0,7,5,3
253658,0,0,0,27,0,0,0,1,0,0,0,1,1,2,0,0,0,0,3,6,5
253659,0,1,1,37,0,0,2,0,0,1,0,1,0,4,0,0,0,0,6,4,1
253660,0,1,1,34,1,0,0,0,1,1,0,1,0,3,0,2,1,0,7,4,3

In [33]:
# Split into testing and training sets using train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

In [34]:
model = LogisticRegression()

In [36]:
model.fit(X_train, y_train)

LogisticRegression()

In [39]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9064791453126232

In [41]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.9053476041235488

In [42]:
input_data = (1,1,1,40,1,0,0,0,0,1,0,1,0,5,18,15,1,0,9,4,3)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease